@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
  --secondaryColor: #e6e6e6;
  --textSecondaryColor: #666;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/* globals */
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

/* utility */
.wrapper {
  width: 90%;
  margin: 0 auto; 
}

/* header  */
header {
    position: fixed;
    background: white;
    padding: 15px 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: 1px solid var(--secondaryColor);
  }
  
.navigation {
  display: flex;
  gap: 1.1rem;
}

.container {
  padding: 100px;
}

.part-1 {
  margin-bottom: 30px;
}

.part-2 {
  display: grid;
  gap: 2rem;
}

.part-2 img {
  inline-size: 40%;
  margin: 20px;
}



