@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
/* header */
header {
  position: relative;
  margin: 8px;
}

nav {
  position: absolute;
  top: 10px;
  color: white;
  font-size: 10px;
  width: 95%;
  display: grid;
  grid-template-columns: 120px auto;
}
.navRight {
  display: flex;
  gap: 10px;
  justify-self: flex-end;
}

.rotatedText {
  position: absolute;
  right: -43px;
  top: 90px;
  color: white;
  transform: rotate(270deg);
  font-size: 6px;
  text-transform: uppercase;
}
.labelText {
  position: absolute;
  top: 90px;
  left: 14%;
  color: white;
}
.labelText p {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.labelText cite {
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: rgba(220, 239, 224, 255);
}

/* main section */
main {
  background-color: #efefef;
}

section:nth-child(2) {
  padding: 20px 0;
}
.category {
  display: flex;
  gap: 8px;
  justify-content: center;
  font-size: 8px;
}
.category > p {
  padding-top: 5px;
  border-top: 2px solid transparent;
  color: #9b9b9b;
}
.category .selected {
  color: black;
  border-top: 2px solid black;
}

/* product */
.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 15px 0;
}
.productImage img {
  height: 100%;
}
.productDetails .product_name {
  font-size: 10px;
}
.productDetails .product_price {
  font-size: 10px;
  color: #9b9b9b;
}
.productWrapper {
  width: 70%;
  margin: 0 auto;
}

/* pagination section */
.pagination {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, 40px);
}
.pagination > div {
  border-bottom: 1px solid transparent;
  padding: 6px 0;
  font-size: 12px;
}
.selected1 {
  border-bottom: 2px solid black !important;
}

/* footer section */

footer {
  padding: 3rem 0;
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.footerColumn .footerTitle {
  text-transform: uppercase;
  color: #9b9b9b;
  font-size: 12px;
  padding: 0.8rem 0;
}

.footerLinks a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

@media screen and (min-height: 1100px) {
  nav {
    font-size: 18px;
  }
  .labelText p {
    font-size: 2rem;
  }
  .rotatedText {
    right: -90px;
    top: 160px;
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .productWrapper {
    width: 85%;
  }

  header {
    margin: 0;
  }
  .labelText p {
    font-size: 1.2rem;
  }
  .labelText {
    left: 9%;
  }
  header img {
    height: 250px;
  }
  .rotatedText {
    right: -49px;
  }
  .productsContainer {
    grid-template-columns: 1fr 1fr;
  }
  .footerContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 992px) {
  header img {
    height: 400px;
  }
  nav {
    font-size: 18px;
  }
  .category,
  .pagination > div {
    font-size: 16px;
  }
  .labelText {
    top: 37%;
  }
  .labelText p {
    font-size: 2rem;
  }
  .rotatedText {
    right: -80px;
    top: 160px;
    font-size: 12px;
  }
}